assignment\problem1\__pycache__
assignment\problem1\.pytest_cache
assignment\problem2\__pycache__
assignment\problem2\.pytest_cache
assignment\problem3\__pycache__
assignment\problem3\.pytest_cache
assignment\problem4\__pycache__
assignment\problem4\.pytest_cache